# Dependency
node_modules/

# Build output
dist/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Coverage / test artifacts
coverage/
.nyc_output/

# Editor / OS
.DS_Store
.idea/
*.swp

# Environment
.env
.env.*
!.env.example
